<!DOCTYPE html>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-weight: bold;">
  <a class="navbar-brand" >All-for-design</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">投稿画面</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <form class="form-inline my-4 my-lg-0">
      <%= button_to "Sign In", {:controller => "registration", :action => "new"}, :method => :get, :class => "btn btn-outline-success" %>
      <%= button_to "Sign In", { :action => "new"}, :method => :get, :class => "btn btn-outline-success" %>
    </form>
  </div>
</nav>
<aside id="fh5co-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <li>
        <div class="slide1">
          <div class="overlay-gradient"></div>
          <div class="container flex-items-md-center">
            <div class="col-md-10 offset-1 text-center js-fullheight slider-text">
              <div class="slider-text-inner">
                <h2>世界をもっとCreativeに</h2>
                <p>
                  <a href="#" class="btn btn-primary btn-lg">Get started</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="slide2">
          <div class="container">
            <div class="col-md-10 offset-1 text-center js-fullheight slider-text">
              <div class="slider-text-inner">
                <h2>時代を作るのはいつもあなただ</h2>
                <p>
                  <a href="#" class="btn btn-primary btn-lg">Get started</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="slide3">
          <div class="container">
            <div class="col-md-10 offset-1 text-center js-fullheight slider-text">
              <div class="slider-text-inner">
                <h2>さぁ 世界に羽ばたこう</h2>
                <p>
                  <a href="#" class="btn btn-primary btn-lg">Get started</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>

</body>
</html>
